<template>
  <div class="container">
    <div class="row d-flex flex-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header bg-primary text-light text-center">
            Login
          </div>
          <div class="card-body">
            <div v-if="error" class="alert alert-danger">{{ error }}</div>
            <form action="#" @submit.prevent="submit">
              <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label text-sm-right"
                  >Email</label
                >

                <div class="col-sm-6">
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    name="email"
                    value
                    required
                    autofocus
                    v-model="form.email"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="password"
                  class="col-sm-4 col-form-label text-sm-right"
                  >Password</label
                >

                <div class="col-sm-6">
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    required
                    v-model="form.password"
                  />
                </div>
              </div>

              <div class="form-group row mb-0">
                <div class="col-sm-8 offset-sm-4">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "@/services/firebase";
import "firebase/auth";

export default {
  data() {
    return {
      form: {
        email: "",
        password: ""
      },
      error: null
    };
  },
  methods: {
    submit() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.form.email, this.form.password)
        .then(() => {
          this.$router.replace({ name: "Admin" });
        })
        .catch(err => {
          this.error = err.message;
        });
    }
  }
};
</script>
<style scoped>
.d-flex {
  min-height: 100vh;
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
