<template>
  <div style="margin-bottom:80px">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7">
        <b-card border-variant="primary" class="rounded-0 border-0 mt-5">
          <!-- <b-card-header
            style="padding:0;border-bottom:2px solid #007bff"
            class="bg-white"
          >
            <div
              class="bg-primary text-white p-2"
              style="display:inline-block;"
            >
              ព្រឹត្ដិការណ៍ថ្មីៗ
            </div>
          </b-card-header> -->
          <b-card-text>
            <div>
              <slider />
            </div>
          </b-card-text>
        </b-card>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5">
        <b-card border-variant="primary" class="rounded-0 border-0 mt-5">
          <!-- <b-card-header
            style="padding:0;border-bottom:2px solid #007bff"
            class="bg-white"
          >
            <div
              class="bg-primary text-white p-2"
              style="display:inline-block;"
            >
              ព័ត៌មានពេញនិយម
            </div>
          </b-card-header> -->
          <b-card-text>
            <popular-news />
          </b-card-text>
        </b-card>
      </div>
    </div>
    <div class="container-fluid mx-3">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <b-card
            border-variant="primary"
            class="rounded-0 shadow-0 border-0 mt-5 bg-transparent"
            v-for="(item, index) in postsList"
            :key="index"
          >
            <b-card-header
              class="bg-transparent"
              style="border-bottom:solid 2px #007bff ;padding:0;"
            >
              <div
                class="bg-primary text-white p-2"
                style="display:inline-block;"
                v-text="item.title"
              ></div>
            </b-card-header>
            <b-card-text>
              <div style="background:#fbfbfb">
                <news-list :category="item.category" />
              </div>
            </b-card-text>
          </b-card>

          <b-card
            border-variant="primary"
            class="rounded-0 border-0 mt-5 bg-transparent"
          >
            <b-card-header
              style="padding:0;border-bottom:2px solid #007bff"
              class="bg-transparent"
            >
              <div
                class="bg-primary text-white p-2"
                style="display:inline-block;"
              >
                អត្ថបទចម្រុះ
              </div>
            </b-card-header>
            <b-card-text>
              <mix-news-mosonary />
            </b-card-text>
          </b-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NewsList from "@/components/NewsList.vue";
import MixNewsMosonary from "../../components/MixNewsMosonary.vue";
import PopularNews from "../../components/PopularNews.vue";
import Slider from "../../components/Slider.vue";

export default {
  name: "Home",
  title() {
    return `Notebook Cambodia`;
  },
  data() {
    return {
      changeClass: "col-12 col-sm-12 col-md-8",
      isContent: false,
      postsList: [
        { title: "ព័ត៌មានបច្ចេកវិទ្យា", category: "O4uIBuQefwL1Qvg64u4Q" },
        { title: "ព័ត៌មានកីឡា", category: "TjxWWbGxBasi5znjN2f7" },
        { title: "ព័ត៌មានទេសចរណ៍", category: "PEu8clW8n90B1Eo3SdvS" },
        { title: "ព័ត៌មានកសិកម្ម", category: "Yzuz6wfZLCfsm5nzLJQ4" }
      ]
    };
  },
  components: { NewsList, MixNewsMosonary, PopularNews, Slider },
  computed: {},

  methods: {
    //define below method first.
    winWidth() {
      setInterval(() => {
        var w = window.innerWidth;
        if (w > 1700) {
          this.changeClass = "col-12 col-sm-12 col-md-8";
          this.isContent = true;
        } else {
          this.changeClass = "col-12 col-sm-12 col-md-12";
          this.isContent = false;
        }
      }, 100);
    }
  },
  mounted() {
    //callback once mounted
    this.winWidth();
  }
};
</script>
<style scoped>
.card-header {
  border-radius: 0;
}
.card-body {
  padding: 0;
}
.card-img,
.card-img-top {
  border-radius: 0;
}
</style>
