<template>
  <div>
    <div class="row">
      <div :class="changeClass">
        <b-card
          border-variant="primary"
          class="rounded-0 shadow-0 border-0 mt-5"
        >
          <b-card-header
            style="border-bottom:solid 2px #007bff ;padding:0"
            class="bg-white"
          >
            <div
              class="bg-primary text-white p-2"
              style="display:inline-block;"
            >
              ព័ត៌មានបច្ចេកវិទ្យា
            </div>
          </b-card-header>
          <b-card-text>
            <div class="mt-3">
              <news-list category="PEu8clW8n90B1Eo3SdvS" />
            </div>
          </b-card-text>
        </b-card>
      </div>

      <div class="col-12 col-sm-3 col-md-3" v-show="showCard">
        <mix-news />
      </div>
    </div>
  </div>
</template>

<script>
import NewsList from "@/components/NewsList.vue";
import MixNews from "../../components/MixNews.vue";

export default {
  name: "Home",
  title() {
    return `Notebook Cambodia`;
  },
  data() {
    return {
      changeClass: "col-12 col-sm-9 col-md-9",
      showCard: false,
      category: "sport"
    };
  },
  components: { NewsList, MixNews },
  beforeMount() {
    this.$store.dispatch("post/posts");
    this.$store.dispatch("category/CATEGORIES");
  },
  computed: {
    categories() {
      const category = this.$store.state.category.items;
      return category.filter(item => item.name === "sport");
    },
    posts() {
      const post = this.$store.state.post.items;
      return post.filter(item => item.category_id === this.categories.id);
    }
  },

  methods: {
    //define below method first.
    winWidth() {
      setInterval(() => {
        var w = window.innerWidth;
        if (w > 1225) {
          this.changeClass = "col-12 col-sm-9 col-md-9";
          this.showCard = true;
        } else {
          this.changeClass = "col-12 col-sm-12 col-md-12";
          this.showCard = false;
        }
      }, 100);
    }
  },
  mounted() {
    //callback once mounted
    this.winWidth();
  }
};
</script>
<style scoped>
.card-header {
  border-radius: 0;
}
.card-body {
  padding: 0;
}
.card-img,
.card-img-top {
  border-radius: 0;
}
</style>
