<template>
  <div class="container mb-5">
    <b-row>
      <b-col cols="12" sm="12" md="12" lg="9">
        <b-card class="shadowed-0 border-0 rounded-0 p-5">
          <p class="title" v-text="post.title"></p>
          <hr class="bg-primary" style="height:1px" />
          <div class="content" v-html="post.content"></div>
        </b-card>

        <div class="mt-5">
          <b-card border-variant="primary" class="rounded-0 border-0 m-0">
            <b-card-header
              style="border-bottom:solid 2px #007bff ;padding:0"
              class="bg-white"
            >
              <div
                class="bg-primary text-white p-2"
                style="display:inline-block;"
              >
                ព័ត៌មានទាក់ទង
              </div>
            </b-card-header>
            <b-card-text>
              <div class="mt-3">
                <similar-news :category="post.category_id" />
              </div>
            </b-card-text>
          </b-card>
        </div>
      </b-col>
      <b-col cols="12" sm="12" md="12" lg="3">
        <mix-news />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import MixNews from "../components/MixNews.vue";
import SimilarNews from "../components/SimilarNews.vue";
export default {
  data() {
    return {
      titlePage: "Notebook Cambodia",
      changeClass: "col-12 col-sm-9 col-md-9",
      showCard: false
    };
  },
  components: { MixNews, SimilarNews },
  computed: {
    post() {
      return this.$store.state.post.item;
    }
  },
  methods: {
    // winWidth() {
    //   setInterval(() => {
    //     var w = window.innerWidth;
    //     if (w > 1225) {
    //       this.changeClass = "col-12 col-sm-9 col-md-9";
    //       this.showCard = true;
    //     } else {
    //       this.changeClass = "col-12 col-sm-12 col-md-12";
    //       this.showCard = false;
    //     }
    //   }, 100);
    // }
  },
  beforeMount() {
    this.$store.dispatch("post/posts");
    this.$store.dispatch("post/findPost", {
      id: this.$route.params.id
    });
  }
};
</script>

<style>
* {
  line-height: 2;
}
.card-header {
  border-radius: 0;
}
.card-body {
  padding: 0;
}
.card-img,
.card-img-top {
  border-radius: 0;
}
.content img {
  width: 100%;
}
.title {
  font-size: 16px;
  font-family: "Segoe UI", Bayon, Tahoma, Geneva, Verdana, sans-serif;
}
.shadowed {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}
p {
  font-size: 14px;
}
</style>
