<template>
  <div>
    <b-card
      v-for="n in 3"
      :key="n"
      no-body
      class="overflow-hidden rounded-0 border-0"
      style="margin-left:0;margin-right:0;max-height:87px;border-bottom:2px solid #333"
    >
      <b-row no-gutters>
        <b-col md="4">
          <b-card-img
            src="https://picsum.photos/400/200/?image=41"
            alt="Image"
            class="rounded-0"
          ></b-card-img>
        </b-col>
        <b-col md="8">
          <b-card-body title="Horizontal Card">
            <b-card-text>
              This is a wider card with supporting text as a natural lead-in to
              additional content...
            </b-card-text>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
