<template>
  <div class="bg-dark py-3">
    <div class="container">
      <div class="branch">
        <p>Notebook Cambodia</p>
      </div>
      <div class="description">
        <div class="about-us">About</div>
        <div class="contact-us">Contact</div>
        <div class="follow-us">Follow</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.branch p {
  color: #fff;
  font-size: 24px;
  font-family: "Noto Sans KR", sans-serif;
}
.description {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}
</style>
