<template>
  <div class="cards p-3">
    <div class="my-card" v-for="(post, index) in posts" :key="index">
      <img :src="post.fileURL" />
      <p class="time-created">
        {{ moment(post.createdAt).format("ll") }}
      </p>
      <div
        class="my-card-category text-light"
        :style="{ background: `${getBackground(post)}` }"
      >
        {{
          post.category_id === "O4uIBuQefwL1Qvg64u4Q"
            ? "បច្ចេកវិទ្យា"
            : post.category_id === "TjxWWbGxBasi5znjN2f7"
            ? "កីឡា"
            : post.category_id === "PEu8clW8n90B1Eo3SdvS"
            ? "ទេសចរណ៍"
            : post.category_id === "Yzuz6wfZLCfsm5nzLJQ4"
            ? "កសិកម្ម"
            : ""
        }}
      </div>
      <div class="my-card-content py-3">
        <h2 class="my-card-title" v-text="post.title"></h2>
      </div>
    </div>
  </div>
</template>

<script>
import * as moment from "moment/moment";
export default {
  data() {
    return {};
  },
  beforeMount() {
    this.$store.dispatch("post/posts");
  },
  computed: {
    posts() {
      const posts = this.$store.state.post.items;
      let allPosts = [{ title: "", fileURL: "", category_id: "" }];
      if (posts.length > 0) {
        return (allPosts = posts);
      }
      return allPosts;
    }
  },
  methods: {
    moment: function(date) {
      return moment(date);
    },
    getBackground(item) {
      return item.category_id === "O4uIBuQefwL1Qvg64u4Q"
        ? "rgba(23, 165, 137 ,0.5)"
        : item.category_id === "TjxWWbGxBasi5znjN2f7"
        ? "rgba(241, 196, 15,0.5)"
        : item.category_id === "PEu8clW8n90B1Eo3SdvS"
        ? "rgba(52, 152, 219,0.5)"
        : item.category_id === "Yzuz6wfZLCfsm5nzLJQ4"
        ? "rgba(0,0,0,0.5)"
        : "transparent";
    }
  }
};
</script>

<style scoped>
.cards {
  width: 100%;
  column-gap: 20px;
}
.my-card {
  position: relative;
  display: inline-block;
  width: 100%;
  transition: opacity 0.3s background-color 0.3s border 0.5s ease-in-out;
  opacity: 0.9;
  margin-bottom: 20px;
  background-color: #fcfcfc;
}
img {
  width: 100%;
}
.my-card-category {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 11px;
  padding: 5px;
  border-radius: 5px;
}

.my-card-content {
  width: 100%;
}
.my-card-title {
  color: #333;
  font-size: 12px;
  line-height: 1.5rem;
  margin-bottom: 0em;
  padding: 5px;
}
.time-created {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #eee;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-size: 10px;
}

.my-card:hover {
  opacity: 1;
  z-index: 100;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .cards {
    column-count: 1;
  }
}
@media screen and (min-width: 481px) {
  .cards {
    column-count: 2;
  }
}
@media screen and (min-width: 769px) {
  .cards {
    column-count: 3;
  }
}
@media screen and (min-width: 1000px) {
  .cards {
    column-count: 4;
  }
}
@media screen and (min-width: 1200px) {
  .cards {
    column-count: 4;
  }
}
</style>
