<template>
  <b-card border-variant="primary" class="rounded-0 shadow-0 border-0 mt-5">
    <b-card-header
      style="border-bottom:solid 2px #007bff ;padding:0"
      class="bg-white"
    >
      <div class="bg-primary text-white p-2" style="display:inline-block;">
        ព័ត៌មានចម្រុះ
      </div>
    </b-card-header>
    <b-card-text>
      <div class="mt-3">
        <div class="card-container" v-for="(post, index) in posts" :key="index">
          <div class="my-card">
            <div
              class="my-card-image"
              :style="{ backgroundImage: `url(${post.fileURL})` }"
            ></div>
            <div class="card-title">
              <p v-text="post.title"></p>
            </div>
          </div>
        </div>
      </div>
    </b-card-text>
  </b-card>
</template>

<script>
export default {
  beforeMount() {
    this.$store.dispatch("post/posts");
  },
  computed: {
    posts() {
      const posts = this.$store.state.post.items;
      const post = posts.filter(item => item.id !== this.$route.params.id);
      return post;
    }
  }
};
</script>

<style scoped>
.card-container {
  display: grid;
  grid-template-columns: 1fr;
}
.my-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-auto-rows: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.my-card-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.card-title {
  width: 100%;
  padding: 5px 10px 0 10px;
  font-size: 12px;
}
.card-body {
  padding: 0;
}
</style>
