<template>
  <div class="pt-3">
    <div>
      <b-card border-variant="primary" class="rounded-0 border-0">
        <b-card-header
          style="border-bottom:solid 2px #007bff ;padding:0"
          class="bg-white"
        >
          <div class="bg-primary text-white p-2" style="display:inline-block;">
            ព័ត៌មានទាក់ទង
          </div>
        </b-card-header>
        <b-card-text>
          <div class="mt-3">
            <news-list />
            <news-list />
          </div>
        </b-card-text>
      </b-card>
    </div>
  </div>
</template>

<script>
import NewsList from "@/components/NewsList.vue";

export default {
  name: "Home",
  components: { NewsList }
};
</script>
<style scoped>
.card-header {
  border-radius: 0;
}
.card-body {
  padding: 0;
}
.card-img,
.card-img-top {
  border-radius: 0;
}
</style>
