<template>
  <div class="container-fluid p-0">
    <!-- As a heading -->
    <b-navbar
      id="navbar-main"
      toggleable="md"
      type="dark"
      variant="primary"
      class="p-0 bg-nav-menu navbar-main"
      sticky
      fixed="top"
    >
      <b-navbar-brand class="px-4 d-flex align-center" tag="h6" to="/">
        <img
          class="d-inline-block align-top img_branch"
          src="@/assets/notebookcambodia_logo.png"
          alt="Branch"
        />
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/">ទំព័រដើម</b-nav-item>
          <!-- <b-nav-item to="/nation">ព័ត៌មានជាតិ</b-nav-item>
          <b-nav-item to="/national">ព័ត៌មានអន្ដរជាតិ</b-nav-item> -->
          <b-nav-item to="/technology">បច្ចេកវិទ្យា</b-nav-item>
          <b-nav-item to="/sport">កីឡា</b-nav-item>
          <b-nav-item to="/tourism">ទេសចរណ៍</b-nav-item>
          <b-nav-item to="/agricalture">កសិកម្ម</b-nav-item>
          <b-nav-item to="/general-knowlege">ចំណេះដឹងទូទៅ</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
// window.onscroll = function() {
//   myFunction();
// };

// var navbar = document.getElementById("navbar-main");
// // var sticky = navbar.offsetTop;
// // console.log(sticky);

// function myFunction() {
//   if (window.pageYOffset >= 88) {
//     navbar.classList.add("sticky");
//   } else {
//     navbar.classList.remove("sticky");
//   }
// }
export default {};
</script>

<style scoped>
.nav-item {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.action .nav-link {
  background-color: #262626;
  color: #fff;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #eee;
}
.bg-nav-menu {
  background-color: #fdd79c;
}
.list-group-item {
  background: none;
}
.list-group-item:hover {
  background: rgb(252, 193, 104);
}
.img_branch {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-blend-mode: lighten;
}
.navbar {
  position: fixed;
  top: 0;
}
.nav-link {
  font-family: "Segoe UI", Bayon, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}
</style>
