<template>
  <div>
    <div class="news-container" v-if="posts.length > 0">
      <news v-for="post in posts" :key="post.id" :item="post" />
    </div>
    <div class="p-3" style="width:250px;height:250px" v-else>
      <b-skeleton-img width="200" height="200"></b-skeleton-img>
      <b-skeleton class="my-3" animation="throb" width="70%"></b-skeleton>
    </div>
  </div>
</template>

<script>
import News from "./News.vue";
export default {
  props: ["category"],
  components: { News },
  beforeMount() {
    this.$store.dispatch("post/posts");
  },
  computed: {
    posts() {
      let postLimit = [];
      const posts = this.$store.state.post.items;
      const post = posts.filter(item => item.category_id === this.category);
      postLimit = post.filter((item, idx) => idx < 6);
      console.log(postLimit);

      return postLimit;
    }
  }
};
</script>

<style scoped>
.news-container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
</style>
