<template>
  <div class="cards" @click="contentPreview(item)">
    <div class="my-card">
      <div
        class="card-image"
        :style="{ backgroundImage: `url(${item.fileURL})` }"
      >
        <p class="time-created">
          {{ moment(item.createdAt).format("ll") }}
        </p>
      </div>
      <div class="card-info">
        <h2 class="card-title" v-text="item.title"></h2>
      </div>
    </div>
  </div>
</template>

<script>
import * as moment from "moment/moment";

export default {
  props: ["item"],
  data() {
    return { today: moment().format() };
  },
  methods: {
    moment: function(date) {
      return moment(date);
    },
    contentPreview(item) {
      this.$router.push({
        name: "Content",
        params: { id: item.id, title: item.title }
      });
      this.findPost();
    },
    findPost() {
      this.$store.dispatch("post/findPost", { id: this.item.id });
    }
  }
};
</script>

<style scoped>
.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.cards {
  display: flex;
  padding: 5px;
  width: 100%;
}
@media (min-width: 500px) {
  .cards {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .cards {
    width: 33.3%;
  }
}
@media (min-width: 1000px) {
  .cards {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .cards {
    width: 16.6%;
  }
}

.my-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}

.cards .card-info {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  line-height: 1.5em;
}
.cards .card-title {
  font-size: 14px;
  line-height: 1.5rem;
  color: #32325d;
  margin-bottom: 0.2em;
}
.card-image {
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.91;
  transition: transform 1s ease-in-out;
}
.time-created {
  max-width: max-content;
  color: #eee;
  padding: 5px;
  margin: 10px;
  font-size: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}
.cards .my-card:hover {
  cursor: pointer;
}

.my-card:hover > .card-image,
.my-card:focus .card-image {
  opacity: 1;
}
@media only screen and (max-width: 480px) {
  .cards {
    width: 50%;
  }
  .cards .card-image {
    height: 100px;
    border-radius: 0px 0px;
  }
  .cards .my-card {
    border-radius: 0px 0px;
  }
  .cards .my-card .card-title {
    font-size: 16px;
  }
}
</style>
