<template>
  <div class="cards">
    <div class="my-card" v-for="i in 4" :key="i">
      <!-- <img src="https://source.unsplash.com/featured/?norway" /> -->
      <div class="card-content">
        <h2 class="card-title">
          tvN ដាក់បង្ហាញរឿងថ្មីៗ ក្ដៅៗជាច្រើនប្រចាំឆ្នាំ២០២១ ត្រៀមខ្លួនហើយឬនៅ?
        </h2>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1px;
  padding: 0;
  margin: 0;
  border-radius: 0px;
}
.my-card {
  background: url("https://source.unsplash.com/featured/?norway");
  background-size: 100% auto;
  background-repeat: n-repeat;
  display: block;
  padding-bottom: 50%;
  position: relative;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.9;
}
img {
  width: 100%;
}

.card-content {
  width: 100%;
  min-height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(22, 22, 22, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.card-title {
  position: absolute;
  bottom: 0;
  color: #eee;
  font-size: 12px;
  line-height: 1.5rem;
  margin-bottom: 0em;
  padding: 5px;
}

.my-card:hover {
  opacity: 1;
  z-index: 100;
  cursor: pointer;
}
</style>
