<template>
  <div>
    <div class="main">
      <div class="cards">
        <div
          class="my-card"
          v-for="item in posts"
          :key="item.id"
          @click="contentPreview(item)"
        >
          <div
            class="card-image"
            :style="{ backgroundImage: `url(${item.fileURL})` }"
          ></div>
          <div class="card-info">
            <h2 class="card-title" v-text="item.title"></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["category"],
  beforeMount() {
    this.$store.dispatch("post/posts");
  },
  computed: {
    posts() {
      const posts = this.$store.state.post.items;
      const postsCategory = posts.filter(
        item => item.category_id === this.category
      );
      const postFilter = postsCategory.filter(
        item => item.id !== this.$route.params.id
      );
      return postFilter;
    }
  },
  methods: {
    contentPreview(item) {
      this.$router.replace({
        name: "Content",
        params: { id: item.id, title: item.title }
      });
      this.findPost(item.id);
    },
    findPost(id) {
      this.$store.dispatch("post/findPost", { id: id });
    }
  }
};
</script>

<style scoped>
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.my-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}

.cards .card-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}
.cards .card-title {
  font-size: 14px;
  line-height: 1.5rem;
  color: #32325d;
  margin-bottom: 0.2em;
}
.card-image {
  height: 100px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.91;
  transition: transform 1s ease-in-out;
}
.cards .my-card:hover {
  cursor: pointer;
}

.my-card:hover > .card-image,
.my-card:focus .card-image {
  opacity: 1;
  transform: scale(1.1);
}
@media only screen and (max-width: 480px) {
  .cards {
    width: 50%;
  }
  .cards .card-image {
    height: 100px;
    border-radius: 0px 0px;
  }
  .cards .my-card {
    border-radius: 0px 0px;
  }
  .cards .my-card .card-title {
    font-size: 16px;
  }
}
</style>
