<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-button
        v-b-toggle.sidebar-backdrop
        variant="primary"
        size="sm"
        class="mx-3"
      >
        <b-icon icon="list"></b-icon>
      </b-button>
      <b-navbar-brand href="#" to="/">Notebook Cambodia</b-navbar-brand>
      <b-navbar-nav class="ml-auto">
        <b-btn variant="danger" size="sm" @click="singout">
          <b-icon icon="power" aria-hidden="true"></b-icon>
        </b-btn>
      </b-navbar-nav>
    </b-navbar>
    <b-sidebar
      id="sidebar-backdrop"
      title="NOTE_CAM"
      backdrop-variant="dark"
      bg-variant="dark"
      text-variant="light"
      backdrop
      shadow
      width="250px"
    >
      <div>
        <b-list-group class="rounded-0">
          <b-list-group-item
            class="bg-dark text-light"
            href="#"
            to="/nc-admin/posts"
            >Posts</b-list-group-item
          >
          <b-list-group-item class="bg-dark text-light" href="#"
            >Users</b-list-group-item
          >
          <b-list-group-item class="bg-dark text-light" href="#"
            >Setting</b-list-group-item
          >
        </b-list-group>
      </div>
    </b-sidebar>
  </div>
</template>

<script>
import firebase from "@/services/firebase";
export default {
  name: "Slidebar",
  data() {
    return {
      variant: "dark",
      variants: [
        "transparent",
        "white",
        "light",
        "dark",
        "primary",
        "secondary",
        "success",
        "danger",
        "warning",
        "info"
      ]
    };
  },
  methods: {
    singout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push("/");
        });
    }
  }
};
</script>
