<template>
  <div class="blog-post-creator">
    <div class="post-inputs">
      <b-form-input
        v-model="title"
        id="inline-form-input-name"
        class="mb-2 mr-sm-2 mb-sm-0"
        placeholder="Title"
        required
      ></b-form-input>

      <b-form-select
        v-model="category_id"
        id="inline-form-custom-select-pref"
        class="mb-2 mr-sm-2 mb-sm-0"
        :options="categories"
        :value="null"
        required
      ></b-form-select>
      <b-checkbox
        class="mr-2"
        v-model="isImportant"
        value="true"
        unchecked-value="false"
        >Important</b-checkbox
      >
      <div class="upload mr-2">
        <UploadFile @upload="uploadFile" />
      </div>

      <div>
        <preview-post :post="{ title: title, content: content }" />
      </div>
    </div>
    <quill-editor
      v-model="content"
      ref="myQuillEditor"
      :options="editorOption"
    />
    <div class="post-footer">
      <button type="reset" @click="del">Delete</button>
      <button @click="save">Save</button>
      <button @click="publish">Publish</button>
    </div>
  </div>
</template>

<script>
import "quill/dist/quill.snow.css";
import { quillEditor } from "vue-quill-editor";
import UploadFile from "../../../components/post/uploadFile";
import PreviewPost from "../../../components/post/previewPost";

export default {
  name: "HelloWorld",
  components: {
    quillEditor,
    UploadFile,
    PreviewPost
  },
  data: () => ({
    title: "",
    category_id: null,
    image_url: "",
    content: "",
    isImportant: false,
    editorOption: {
      debug: "info",
      placeholder: "Type your post...",
      readOnly: true,
      theme: "snow"
    },
    showImageModal: false,
    formEntered: false,
    mounting: false,
    boards: [],
    fileURL: "",
    post: {
      title: "",
      content: ""
    }
  }),
  beforeMount() {
    this.$store.dispatch("post/posts");
    this.$store.dispatch("category/CATEGORIES");
  },
  computed: {
    posts() {
      return this.$store.state.post.items;
    },
    categories() {
      const categories = this.$store.state.category.items;
      return categories.map(item => {
        return {
          text: item.name,
          value: item.id
        };
      });
    }
  },

  methods: {
    uploadFile(fileURL) {
      this.fileURL = fileURL;
    },
    PreviewPost() {
      const post = {
        title: this.title,
        content: this.content
      };
      return (this.post = post);
    },
    del() {
      // TODO
      this.content = "";
    },
    save() {
      let post = {
        title: this.title,
        category_id: this.category_id,
        content: this.content,
        isImportant: this.isImportant,
        isPublic: false,
        fileURL: this.fileURL
      };

      this.$store
        .dispatch("post/newPost", post)
        .then(res => {
          console.log(res);
        })
        .catch(err => {
          console.log(err.message);
        });

      this.title = "";
      this.category_id = null;
      this.content = "";
    },
    publish() {
      let post = {
        title: this.title,
        category_id: this.category_id,
        content: this.content,
        isImportant: this.isImportant,
        isPublic: true,
        fileURL: this.fileURL
      };

      this.$store
        .dispatch("post/newPost", post)
        .then(res => {
          console.log(res);
        })
        .catch(err => {
          console.log(err.message);
        });

      this.title = "";
      this.category_id = null;
      this.content = "";
    }
  },
  mounted() {
    this.mounting = true;
    // if (!this.content && this.contents) {
    //   this.content = this.contents;
    // }
  }
};
</script>
<style>
.rteditor {
  margin-left: 20px;
  margin-right: 20px;
}

.cat-input,
.title-input {
  display: flex;
  justify-content: space-between;
}

.post-inputs {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.ql-editor {
  height: 72vh;
}

.inner-image-input {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-actions-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.ivu-icon-ios-camera-outline {
  font-size: 16px;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin-bottom: 100px;
}
button,
.post-footer button {
  padding: 10px 14px;
  background-color: #2d8cf0;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: transform 0.4s ease-in-out;
}
button:active {
  transform: scale(1.2);
}

.upload label {
  background-color: indigo;
  color: white;
  padding: 10px 14px;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;
}
</style>
