<template>
  <b-container fluid class="mt-5">
    <!-- User Interface controls -->
    <div class="table-header">
      <div class="table-caption">
        <h5>Posts</h5>
      </div>
      <div class="my-1">
        <b-form-group class="mb-0">
          <b-input-group>
            <b-form-input
              id="filter-input"
              v-model="filter"
              type="search"
              placeholder="Type to Search"
              class="px-5"
            ></b-form-input>
          </b-input-group>
        </b-form-group>
      </div>
      <b-btn variant="primary" to="/nc-admin/post/create">Create</b-btn>
    </div>

    <!-- Main table element -->
    <b-table
      :items="posts"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      stacked="md"
      show-empty
      @filtered="onFiltered"
      class="border"
    >
      <template #cell(title)="row">
        <p
          :title="row.item.title"
          style="font-size:12px"
          v-html="row.item.title"
        ></p>
      </template>

      <template #cell(isPublic)="row">
        <b-btn size="sm" @click="info(row.item, row.index, $event.target)">
          Public
        </b-btn>
      </template>

      <template #cell(actions)="row">
        <b-button
          size="sm"
          @click="info(row.item, row.index, $event.target)"
          class="mr-1"
        >
          <b-icon icon="eye" aria-hidden="true"></b-icon>
        </b-button>
        <b-btn size="sm" variant="warning" class="mr-1">
          <b-icon
            icon="pencil-square"
            aria-hidden="true"
            @click="updateItem(row.item)"
          ></b-icon>
        </b-btn>
        <b-btn size="sm" variant="danger" class="mr-1">
          <b-icon
            icon="trash-fill"
            aria-hidden="true"
            @click="deleteItem(row.item)"
          ></b-icon>
        </b-btn>
      </template>
    </b-table>
    <div>
      <b-row>
        <b-col sm="5" md="6" class="my-1">
          <b-form-group
            label="Per page"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="mb-0"
          >
            <b-form-select
              id="per-page-select"
              v-model="perPage"
              :options="pageOptions"
              size="sm"
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
      </b-row>
    </div>

    <!-- Info modal -->
    <b-modal
      title="Preview"
      size="lg"
      :id="infoModal.id"
      ok-only
      @hide="resetInfoModal"
    >
      <p class="title" v-text="infoModal.title"></p>
      <hr />
      <div class="content" v-html="infoModal.content"></div>
    </b-modal>
  </b-container>
</template>
<script>
export default {
  data() {
    return {
      fields: [
        {
          key: "title",
          label: "Title",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "category_id",
          label: "Category",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "createdAt",
          label: "Created At",
          sortable: true
        },
        {
          key: "isPublic",
          label: "Public"
        },
        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  beforeMount() {
    this.$store.dispatch("post/posts");
  },
  computed: {
    posts() {
      return this.$store.state.post.items;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.posts.length;
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = item.title;
      this.infoModal.content = item.content;
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    updateItem(item) {
      this.$router.replace({
        name: "PostUpdate",
        params: { id: item.id, item: item }
      });
      this.item = item;
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    deleteItem(item) {
      this.$store
        .dispatch("post/deletePost", { id: item.id })
        .then(res => console.log(res))
        .catch(err => console.log(err.message));
    }
  }
};
</script>
<style>
.table-header {
  width: 100%;
  display: flex;
  flex: auto 1 auto;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 16px;
  font-family: "Segoe UI", Bayon, Tahoma, Geneva, Verdana, sans-serif;
}
.content img {
  width: 100%;
}
</style>
