<template>
  <div>
    <b-button @click="show = true" variant="primary">Preview</b-button>

    <b-modal
      v-model="show"
      title="Preview"
      size="xl"
      header-bg-variant="primary"
      header-text-variant="light"
    >
      <b-container>
        <p class="title" v-text="post.title"></p>
        <hr />
        <div class="content" v-html="post.content"></div>
      </b-container>

      <!-- <template #modal-footer>
        <div class="w-100">
          <b-button variant="primary" class="float-right" @click="show = false">
            Close
          </b-button>
        </div>
      </template> -->
    </b-modal>
  </div>
</template>

<script>
export default {
  props: ["post"],
  data() {
    return {
      show: false
    };
  }
};
</script>

<style>
.content img {
  width: 100%;
}
img {
  width: 100%;
  height: auto;
}
.title {
  font-size: 16px;
  font-family: "Segoe UI", Bayon, Tahoma, Geneva, Verdana, sans-serif;
}
.shadowed {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}
p {
  font-size: 14px;
}
</style>
