<template>
  <div>
    <b-overlay
      :show="busy"
      rounded
      opacity="0.6"
      spinner-small
      spinner-variant="primary"
      class="d-inline-block"
      @hidden="onHidden"
    >
      <b-button
        ref="button"
        :disabled="busy"
        variant="primary"
        @click="onClick"
      >
        Photo
      </b-button>
      <input
        ref="fileInput"
        type="file"
        id="upload"
        hidden
        @input="selectFile"
      />
    </b-overlay>
  </div>
</template>

<script>
import firebase from "../../services/firebase";
export default {
  data() {
    return {
      busy: false,
      timeout: null,
      fileData: null,
      fileURL: null,
      uploadValue: 0
    };
  },
  beforeDestroy() {
    this.clearTimeout();
  },
  methods: {
    clearTimeout() {
      if (this.timeout) {
        clearTimeout(this.timeout);
        this.timeout = null;
      }
    },
    setTimeout(callback) {
      this.clearTimeout();
      this.timeout = setTimeout(() => {
        this.clearTimeout();
        callback();
      }, 5000);
    },
    onHidden() {
      // Return focus to the button once hidden
      this.$refs.button.focus();
    },
    onClick() {
      this.$refs.fileInput.click();
    },
    async selectFile() {
      const input = this.$refs.fileInput;
      var file = input.files[0];
      var storageRef = await firebase.storage().ref("post-img/" + file.name);
      var uploadTask = storageRef.put(file);
      uploadTask.on(
        "state_changed",
        snapshot => {
          this.busy = true;
          var progress =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log("Upload is " + progress + "% done");
          switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: // or 'paused'
              console.log("Upload is paused");
              break;
            case firebase.storage.TaskState.RUNNING: // or 'running'
              console.log("Upload is running");
              break;
          }
        },
        error => {
          console.log(error.message);
        },
        () => {
          this.busy = false;
          uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
            this.fileURL = downloadURL;
            this.$emit("upload", downloadURL);
          });
        }
      );
    }
  }
};
</script>
