<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>
<script>
const default_layout = "default";
export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || default_layout) + "-layout";
    }
  }
};
</script>
<style>
* {
  font-family: "Helvetica", "Khmer OS Battambang", Tahoma, Geneva, Verdana,
    sans-serif;
}
#app {
  max-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
</style>
