<template>
  <article>
    <header id="nav" style="margin-bottom:70px">
      <Navbar />
    </header>
    <main class="container-fluid">
      <slot />
    </main>
    <footer class="footer">
      <Footer />
    </footer>
  </article>
</template>

<script>
import Footer from "../../components/Footer.vue";
import Navbar from "../../components/Navbar.vue";

export default {
  components: { Navbar, Footer }
};
</script>

<style>
article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
main {
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}
</style>
