<template>
  <div>
    <SlideBar />

    <div class="container-fluid">
      <slot />
    </div>
  </div>
</template>

<script>
import SlideBar from "../../components/SlideBar";
export default {
  name: "HasSlidebar",
  components: { SlideBar }
};
</script>

<style></style>
